@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Theme Variables */
:root {
  --primary: #ffffff;
  --primary-dark: #f0f0f0;
  --secondary: #171717;
  --secondary-dark: #0f0f0f;
  --accent: #7F1D1D;
  --accent-dark: #541616;
}

/* Dark Mode Theme Variables - Activated by the 'dark' class on the HTML element */
:root.dark {
  --primary: #0a0a0a;
  --primary-dark: #0f0f0f;
  --secondary: #ededed;
  --secondary-dark: #f0f0f0;
  --accent: #5f1515;
  --accent-dark: #7F1D1D;
}

body {
  color: var(--secondary);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

/* Extra Utility for Balancing Text */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
