/**
 * @file globals.css
 * @module GlobalStyles
 * @desc Global styles for the PageFlow Library application, including theme variables, typography, and utility classes.
 *
 * @requires Tailwind CSS (base, components, utilities)
 * @requires Google Fonts (Lexend, Open Sans, Roboto, Lato, Montserrat, Nunito, Poppins, Bebas Neue)
 * 
 * @description
 * - Defines light and dark mode theme variables.
 * - Sets default font styles and imports external fonts for use across the application.
 * - Adds utility classes for text wrapping.
 * - Ensures consistent typography and layout for a professional design.
 *
 * @see {@link https://tailwindcss.com/docs | Tailwind CSS Documentation}
 * @see {@link https://fonts.google.com | Google Fonts}
 *
 * @author Chace Nielson
 * @since 1.0
 * @created 2025-01-08
 * @updated 2025-01-08
 */
/* Tailwind CSS Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Theme Variables */
/* Light Mode Theme Variables */
:root {
  --primary: #ffffff;
  --primary-dark: #f0f0f0;
  --secondary: #171717;
  --secondary-dark: #0f0f0f;
  --accent: #7F1D1D;
  --accent-dark: #541616;
}

/* Dark Mode Theme Variables */
:root.dark {
  --primary: #0a0a0a;
  --primary-dark: #0f0f0f;
  --secondary: #ededed;
  --secondary-dark: #f0f0f0;
  --accent: #5f1515;
  --accent-dark: #7F1D1D;
}

/* Typography */
body {
  color: var(--secondary);
  background: var(--primary);
}

/* Utility Classes */
/* Balances text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
